{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@q": "./src/graphql/",
                    "@constants": "./src/constants",
                    "@db": "./src/db",
                    "@models": "./src/models",
                    "@lib": "./src/lib"
                }
            }
        ]
    ]
}